body {
	background-color: #566573;
	text-align: center;
}

ul {
	width: 60%;
}

h1 {
	color: #ecf0f1;
}

h4 {
	color: #ecf0f1;
	margin: 100px 150px 100px 80px;

img {
	height: 450px;
	width: 700px;
	align-content: center;
}
