html,body { 
	width: 100%;
	height: 100%;
	background: #ffffff;
}

/* unvisited link */
a:link {
    color: #2C7086;
    font-weight: bold;
      -webkit-transition: color 1s, font-size 1s;
  -moz-transition: color 1s, font-size 1s;
  -o-transition: color 1s, font-size 1s;
  transition: color 1s, font-size 1s;
  padding-right: 5px;
}

a:hover {
    filter: brightness(60%);

}

/* visited link */
a:visited {
    color: #2C7086;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font-family: 'Raleway', sans-serif;
    line-height: 1.3;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /*margin-left: 10%;
  margin-right: 10%;*/
}

h1 {
        font-size: 48px;
}

canvas{
  display: block;
  vertical-align: bottom;
}

#content {
    
}

#links {
      color: #2C7086;

}

#text {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 190px;
    width: 100%;
    text-align: center;
    display: block;
    background: transparent;
}

#title {
    font-size: 72px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

#description {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 3.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}
.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3B5998;
}
.icon-button .icon-google-plus {
  color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
  color: white;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
